.coin_chart_data{
    grid-area: 1 / 1 / 7 / 21;
}

.coin_sentiment_heatmap{
    grid-area: 7 / 1 / 21 / 12;
}

.additional_coin_info{
    grid-area: 7 / 12 / 21 / 21;
}

.zoom{
    cursor: move;
    fill: none; 
    pointer-events: all;
}

.selection{
    fill: rgba(88, 88, 88, 0.7);
}

.selection:hover{
    fill: rgba(88, 88, 88, 0.9);
}


.heatMapRedditNames.Labels{
    stroke: none;
    fill: rgb(231, 231, 231);
    pointer-events: none;
    font-weight: bolder;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    opacity: 1;
}

.heatMapRedditNames{
    opacity: 0;
}

.heatMapRedditNames:hover{
    opacity: 1;
    fill: rgba(255, 255, 255, 0);
    stroke: white;
    stroke-width: 1px;
}
