.coin_chart_data{
    grid-area: 1 / 1 / 7 / 21;
}

.coin_sentiment_heatmap{
    grid-area: 7 / 1 / 21 / 12;
}

.additional_coin_info{
    grid-area: 7 / 12 / 21 / 21;
}

.zoom{
    cursor: move;
    fill: none; 
    pointer-events: all;
}

.selection{
    fill: rgba(88, 88, 88, 0.7);
}

.selection:hover{
    fill: rgba(88, 88, 88, 0.9);
}