/*****************************/
/*  LANDING PAGE ANIMATIONS  */
/*****************************/

.landing_page{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 50;
    opacity: 1;
}

.landing_page_hiding{
    transition: all 2s ease-out;
    opacity: 0;
}

.main_animation_body{
    opacity: 0;
}

.main_animation_body_shown{
    transition: all 3s ease-in;
    opacity: 1;   
}
  
.landing_page_message_title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

.landing_page_body{
    color: rgb(120, 120, 120);
    font-size: 25px;
    font-weight: 10px;
}

/*****************************/
/*  LANDING PAGE ANIMATIONS  */
/*****************************/

.help_modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.368);
    z-index: 50;
    display: none;
}

.help_button{
    float: right;
    margin-right: 20px;
    color: white;
}


.help_button:hover{
    float: right;
    margin-right: 20px;
    color: rgb(185, 185, 185);
}